@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
html {
	/* set margin and padding to zero for seamless background */
	margin: 0;
	padding: 0;
	height: 100%;
}

html * {
	/*One of a kind bug fix. Prevents font boosting on chrome android.*/
	max-height: 9999999px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: relative;
  bottom: -230px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.wrapper .sidebar .PER{
  color:#fff;
  margin-left: 5px;
    position: relative;
  bottom: -220px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}



.wrapper .contents{
	width: 100%;
	margin-left: 200px;

}

.wrapper .contents .header{
  padding: 20px 10px;
  background: #006699;
  color: #fff;
  font-size: 40px;

  border-bottom: 1px solid #e0e4e8;

}
.wrapper .contents .About{
margin: 20px 10px;
display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.wrapper .contents .About img{
flex: 0 1 auto;
  margin-left: 5%;
}




.wrapper .contents .About div{
flex: 16.875em;
	align-self: center;
}

.wrapper .contents .p1{
margin: 20px 2px;
display: flex;
  flex-flow: row wrap;
}


.wrapper .contents h2{
	color: #006699;
margin: 10px 10px;
}
.wrapper .contents p{
		text-align: justify;
		line-height: 20px;
		padding: 10px 10px;
		font-size: 20px;
}

.wrapper .contents ul{
	font-size: 20px;	
	list-style-type: disc;
	padding: 5px 20px;
	margin: 0px 1px;
	line-height: 20px;
}
.wrapper .contents .About div{
	margin-bottom: 20px;
}
.wrapper .contents .p1 div{
  margin-bottom: 20px;
}
