html {
        margin: 0;
        padding:0;
        height: 100%;
}
html *{
       max-height: 9999999px;
}

body{
        font-family: 'Open Sans', sans-serif;
        margin:0;
        padding:0;
        height:100%;
}
main{
        background: linear-gradient(to bottom, #c9cc9f 0%,#f0f3bd 20%,#f0f3bd 80%,#c9cc9f 100%);
   
}
