html {
        margin: 0;
        padding:0;
        height: 100%;
}
html *{
       max-height: 9999999px;
}

body{
        font-family: 'Open Sans', sans-serif;
        margin:0;
        padding:0;
        height:100%;
}
