html {
	/* set margin and padding to zero for seamless background */
	margin: 0;
	padding: 0;
	height: 100%;
}

html * {
	/*One of a kind bug fix. Prevents font boosting on chrome android.*/
	max-height: 9999999px;
}

body {
	/*using google fonts, again margin and padding zero for seamless bg */
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}





p, li {
	color: #05668d;
}

header h1 {
	text-align: center;
	margin-left: 200px;
	padding: 1em 0 1em 0;
	color: #f0f3bd; 
}

h1 {
	text-align: center;
	margin: 1em;
	color: #05668d;
}

h2 {
	color: #05668d;
}

/* links will display highlighted when hovered or activated*/
.link {
	color: #00a896;
}
.link:hover {
	background: #00a896;
	color: #f0f3bd;
	text-decoration: none;
}

.flexed {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

code {
	background-color: black;
	color: lime;
	margin: 1em;
	padding: 0.25em;
	border: 0.1em solid lime;
	border-radius: 0.3em;

}	






/* styling for projects, games and philosophy page "Post" below */
.post {
	margin: 0 5% 0 5%;
	padding: 1em;
}

button {
	border: 0.1em solid black;
	border-radius: 0.3em;
	color: black;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	background-color: #f0f3bd;
	font-size: 1em;

	box-shadow: 0.2em 0.2em 0 #7e7f63;
}

button:hover {
	box-shadow: inset 0.2em 0.2em 0 #7e7f63;
}
