@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
html {
	/* set margin and padding to zero for seamless background */
	margin: 0;
	padding: 0;
	height: 100%;
}

html * {
	/*One of a kind bug fix. Prevents font boosting on chrome android.*/
	max-height: 9999999px;
}

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


 .sidebar{
  margin: 0;
  padding: 0;
  width: 200px;
  background: #4b4276;
  position: fixed;
  height: 100%;
  
}

 .sidebar h2{
  color: #fff;
  padding:10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

 .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.sidebar ul li a{

  color: #bdb8d7;
  display: flex;
            
}

 .sidebar ul li a .fas{
  width: 25px;
}

 .sidebar ul li:hover{
  background-color: #594f8d;
}
    
 .sidebar ul li:hover a{
  color: #fff;
}
 
 .sidebar .social_media{
  position: relative;
  bottom: -236px;
  left: 50%;

  transform: translateX(-50%);
  display: flex;
}
 .sidebar .PER{
  color:#fff;
  margin-left: 5px;
  position: relative;
  bottom: -230px;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
 .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}



#grad {
  
 /* background-color: red; /* For browsers that do not support gradients 
  background-image: linear-gradient(red, yellow); /* Standard syntax (must be last) */
/*background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,112,162,1) 21%, rgba(58,198,227,1) 100%);
*/
/*background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

*/
/*background-color: #ade0f7;
background-image: linear-gradient(159deg, #ade0f7 0%, #80bbe5 100%);

*/
}
.js {
  margin: 1px 1px;
  padding: 2em;
}

button {
  border: 0.1em solid black;
  border-radius: 0.5em;
  color: black;
  text-decoration: none;
  padding: 2px;
  margin: 0px 10px;
  transition-duration: 0.4s;
  background-color:#e6e6ff;
  font-size: 1em;

  box-shadow: 0.2em 0.2em 0 #7e7f63;
}

button:hover {
  box-shadow: inset 0.2em 0.2em 0 #7e7f63;
}



 .contents{
	
	margin-left: 200px;

}








 .contents .header{
  padding: 20px 10px;
  background: #006699;
  color: #fff;
  font-size: 40px;

  border-bottom: 1px solid #e0e4e8;

}






 .contents .About{
margin: 20px 10px;
display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

 .contents .About img{
flex: 0 1 auto;
  margin-left: 5%;
}


#anomaly{
  width: 400px;
  height: 200px;
  display:block;
  margin: 10px auto;

}

 .contents .main-content h2{
  color: #006699;
margin: 10px 10px;
}




 .contents .About div{
flex: 16.875em;
	align-self: center;
}

 .contents .p1{
margin: 20px 2px;
display: flex;
  flex-flow: row wrap;
}

 .contents .p11{

display: flex;
  flex-flow: row wrap;
}


 .contents h1{
margin: 5px 10px;

display: flex;
  flex-flow: row wrap;
}

 .contents h2{
	color: #006699;
margin: 10px 10px;
}
 .contents p{
		
		line-height: 25px;
		padding: 10px 10px;
		font-size: 20px;
}

 .contents ul{
	font-size: 20px;	
	list-style-type: disc;
	padding: 5px 20px;
	margin: 0px 1px;
	line-height: 25px;
}
 .contents .About div{
	margin-bottom: 20px;
}
 .contents .p1 div{
  margin-bottom: 20px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .contents {margin-left: 0;}
  .sidebar .social_media{
      position: relative;
bottom:15px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  }
   .sidebar .social_media a{
  display: block;
  width: 20px;
  background: #594f8d;
  height: 25px;
  line-height: 30px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sidebar .PER{
  color:#bdb8d7;
  margin-left: 5px;
  position: relative;
  line-height: 55px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
#anomaly{
  width: 320px;
  height: 220px;
  display:block;
  margin: 5px auto;
  margin-left: 0px;

}

.contents .header{
  font-size: 30px;
}
.contents .About p{
  font-size: 15px;
}
.contents .p1 h1{
  font-size: 25px;
}

.contents .p1 h2{
  font-size: 22px;
}
.contents .p1 p{
  font-size: 18px;
}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
